<!DOCTYPE html>
<html>
    <head>
        <title>documents</title>
        <link rel="stylesheet" href="">
    </head>
    <body>
        <header>
            <img src="" class="logo">
        </img>
            <nav class="center desktop">
                <a href="">house a</a>
                <a href="">house b</a>
                <a href="">house c</a>
                <a href="">house d</a>
                <a href="">house e</a>
                <a href="">house f</a>
                <a href="">house g</a>
                
                


            </nav>
            <nav class="right ">
                <a href="" class="desktop">Shop</a>
                <a href="" class="desktop">Account</a>
                <a href="">Menu</a>
            </nav>
        </header>
        <section style="background-image: url('')">
            <div class="content">
                <h1>
                    Model a

                </h1>
                <p> Order Online for <a>Touchless Delivery</a></p>
                <div class="buttons">
                    <a href="">custom orders</a>
                    <a href="">existimg inventory</a>
                </div>
            </div>
        </section>
        <section style="background-image:url('')">
            <div class="content">
            <h1>
                Model b

            </h1>
            <p> Order Online for <a>Touchless Delivery</a></p>
        </div></section>
        <section style="background-image:url()">
            <div class="content">
            <h1>
                Model c

            </h1>
            <p> Order Online for <a>Touchless Delivery</a></p>
            <div class="buttons">
                <a href="">custom orders</a>
                <a href="">existimg inventory</a>
            </div>
        </div></section>
        <section style="background-image:url('')">
            <div class="content">
            <h1>
                Model d

            </h1>
            <p> Order Online for <a>Touchless Delivery</a></p>
            <div class="buttons">
                <a href="">custom orders</a>
                <a href="">existimg inventory</a>
            </div>
        </div></section>
        <section style="background-image:url('')">
            <div class="content">
            <h1>
                Model e

            </h1>
            <p> Order Online for <a>Touchless Delivery</a></p>
            <div class="buttons">
                <a href="">custom orders</a>
                <a href="">existimg inventory</a>
            </div>
        </div></section>
        <section style="background-image:url('')"><div class="content">
            <h1>
                Model f

            </h1>
            <p> Order Online for <a>Touchless Delivery</a></p>
            <div class="buttons">
                <a href="">custom orders</a>
                <a href="">existimg inventory</a>
            </div>
        </div></section>
        <section style="background-image: url('')"><div class="content">
            <h1>
                Model g

            </h1>
            <p> Order Online for <a>Touchless Delivery</a></p>
            <div class="buttons">
                <a href="">custom orders</a>
                <a href="">existimg inventory</a>
            </div>
        </div>
       
    </section>

    </body>
</html>